:host {
    #select-company ::ng-deep {
        width: 25em;
        margin-right: 25px;

        .mat-form-field-infix {
            padding: 0 !important;
        }
    } 
} 

.notification-dropdown {
    .badge {
        background-color: red;
        color: white;
        position: absolute;
        font-size: 12px;
        right: 0px;
    }
}

/*RISOLVE IL PROBLEMA DELLE LOOKUP TAGLIATE ALL'INTERNO DELLA CARD O DELLA MODALE*/
::ng-deep {
  .mat-dialog-container {
    overflow: visible !important;
  }

  .modal-filter-container {
    overflow: visible !important;
  }
}

// NAVIGAZIONE PUBBLICA
ul.public {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // background-color: white;
  // position: fixed;
  top: 0;
}

li.public {
  float: left;
  // border-right: 1px solid #6666666f;
}
li.public a.public {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
  font-size: medium;
}

li.public a:hover {
  background-color: rgba(82, 116, 226, 0.578);
}

.cart {
  position: absolute;
  left: 24px;
  top: 1px;
  background-color: orange;
}



a.disabled {
  pointer-events: none;
  cursor: default;
  
}

a.disabled i {
  color: rgb(216, 214, 214) !important;
}

// .p-dropdown {
//   float: left;
//   overflow: hidden;
// }

// .p-dropdown .p-dropbtn {
//   border: none;
//   outline: none;
//   background-color: inherit;
//   margin: 0;
// }

// .p-dropdown-content {
//   display: none;
//   position: relative;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   z-index: 1;
// }
// .p-dropdown-content a {
//   float: none;
//   display: block;
//   color: black;
//   padding: 12px 16px;
// }

// .p-dropdown:hover .p-dropdown-content {
//   display: block;
// }