<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" routerLink="/public-home/articles">Altri Articoli</button>
        <button class="btn btn-success" (click)="onCompletePurchase()">Completa Acquisto</button>
        <h4 class="float-right">Totale: {{cartTotalPrice | number: '1.2-2'}}€</h4>
    </div>
    <!-- <div class="col-md-3">
        <h4 class="float-right">Totale: 105.45€</h4>
        <button class="btn btn-success float-right">Completa Acquisto</button>

    </div> -->
    <!-- <div class="col-md-9">

    </div> -->
</div>
<eqp-table 
        [columns]="columns"
        [data]="articleList"
        emptyTableMessage="Nessun articolo nel carrello!">
    </eqp-table>
