.demo-table {
    width: 100%;
    /* background-color: transparent; */
  }

.table-container {
    max-height: 68.5vh;
  /* overflow-y:scroll; */
}

.label {
    font-weight: bolder;
    color: black;
}

th.mat-header-cell, td.mat-cell { 
    text-align: center; 
}

.mat-row .mat-cell {
  /* border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; */
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: rgba(17, 121, 249, 0.2);
}

