<mat-card class="article">
    <!-- <mat-card-header> -->
        <mat-card-title class="title">{{article.Name}}</mat-card-title>
        <mat-card-subtitle class="price" *ngIf="!inByCategory">{{categoryName}}</mat-card-subtitle>
        <mat-card-subtitle class="price">{{article.Price.toFixed(2)}}€</mat-card-subtitle>
    <!-- </mat-card-header> -->
    <img mat-card-image [src]="article.ImagePath" [alt]="article.Name">
    <mat-card-content>
        
        <p>{{article.Description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <button class="float-right" mat-icon-button (click)="onAddToCart()"><mat-icon style="font-size: 40px">add_shopping_cart</mat-icon></button>
                </div>
                
                <div class="col-8">
                    <h4 *ngIf="articleCount>0" style="font-size: 30px; text-align: center;">X {{articleCount}}</h4>
                </div>
                
            </div>
        </div>
        
        
    </mat-card-actions>
</mat-card>
